<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">

<head>
    <title>组织机构编辑</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <link href="/css/jquery-ui.min.css" rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.min.css}" />
    <link href="/css/jquery-ui.structure.min.css" rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.structure.min.css}" />
    <link href="/css/jquery-ui.theme.min.css" rel="stylesheet" media="screen" th:href="@{/css/jquery-ui.theme.min.css}" />
    <script src="/js/jquery-1.9.1.min.js" th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
</head>

<body>

<form class="form-narrow form-horizontal" method="post" th:action="@{/manager/user/save}" th:object="${userForm}" th:fragment="userForm">
	<!--/* Show general error task when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${userForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='表单中包含异常数据。请重试.')">Alert</div>
    </th:block>
    <fieldset>
        <div class="form-group">
            <label for="orgName" class="col-lg-3 control-label">组织</label>
            <div class="col-lg-9">
            	<input type="hidden" id="orgId" name="orgId" />
                <input type="text" class="form-control" name="orgName" id="orgName" placeholder="所属组织部门，输入然后根据提示选择" />
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-lg-3 control-label">用户</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" name="name" id="name" placeholder="用户姓名" />
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('phone')}? 'has-error'">
            <label for="phone" class="col-lg-3 control-label">手机</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="手机号码"/>
                <span class="help-block" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">无效的手机号码</span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-3 control-label">邮箱</label>
            <div class="col-lg-9">
                <input  class="form-control" id="email" name="email" placeholder="邮箱地址"/>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-lg-3 control-label">角色</label>
            <div class="col-lg-9">
                <select id="role" class="form-control" name="role">
                	<option value="0" selected="selected">其他</option>
                	<option value="10">组员</option>
                	<option value="20">组长</option>
                	<option value="30">控制室</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="account" class="col-lg-3 control-label">账号</label>
            <div class="col-lg-9">
                <input  class="form-control" id="account" name="account" placeholder="请使用手机号码" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-3 control-label">账号</label>
            <div class="col-lg-9">
                <input type="password" class="form-control" id="password" name="password" placeholder="初始密码" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                <button type="submit" class="btn btn-default">保存</button>
            </div>
        </div>
    </fieldset>
<script>
$(function() {
function setValue(msg){
	$("#orgId").val(msg);
}

$("#orgName").autocomplete({
	source: function(request, response){
		$.ajax({
			url: "/api/v1/public/qryorg",
			dataType: "json",
			data: {
				name: request.term
			},
			success: function(data) {
				response(data);
			}
		});
	},
	select: function( event, ui ) {
		setValue( ui.item ? ui.item.data : this.value);
	}
})
});

/* var availableTags = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala", "Scheme"];

$("#email").autocomplete({
    source: availableTags
}); */
</script>
</form>
</body>
</html>